@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');
* {
    font-family: 'Roboto', sans-serif;
   /* border: 1px solid grey; */

}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

header {
    /* background-color: steelblue; */
    padding-bottom:1rem;
    display:flex;
    justify-content: space-around;
}

header, main{
    width: 100%;
}

header h1 {
    align-items: flex-start;
    padding-top:.5rem;
    font-weight: bold;
    /* color:white; */
    color: steelblue;
    margin: 0 4rem;
}

.output {
    padding: 1rem;
}

/* form */

.form {
    align-self: center; 
    width:70%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid grey;
}

.form input {
    border: none;
    border-bottom: 1px solid grey;
    width: 99%;
    margin: 0 auto;
    height:40px;
}

.form button {
 float:right; 
 margin: 4px;
 width: 150px;
 height:40px;
 color:white;
 background-color: steelblue;
 font-weight:bold;
 border-radius: 4px;
 border: none;
 

}

.form button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer p {
    text-align: center;  
    padding-bottom: 1px;
}

footer p a {
    text-decoration: none;
}

