<!DOCTYPE html>
<html lang="es">
<head>
<title>Aprendiendo ROSWEB</title>
<meta charset="utf-8" />
<meta name="description" content="ROS, upv, tecnologias interactivas, Proyecto de Robótica, ROSWeb">
<meta author="Diana Herández Soler 2020">
<link rel="stylesheet" href="./css/style.css" />
<script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="./js/main.js"></script> 
</head>
<body>
    <div id="vueApp">
<header>
    <h1>{{main_title}}</h1> <!--  Aprendiendo ROSWeb -->
</header>
<main>
        <div class="form">
            <label for="rosbridgeAddress">ROSBridge Address:</label>
            <input name="rosbridgeAddress" type="text" v-model="rosbridge_address" value="ws://" />
            <br />
            <button v-if="connected" @click="disconnect">Connected!</button>
            <button v-else @click="connect">Connect!</button>
        </div>
        <div class="form">
            <h3>{{ menu_title }} <span class="date">26th March 2020</span></h3>
            <section style="display:flex;">
            <img src="./image/stateMachine.png" width="30%" alt="maquina de estados" />
            <section>
               
                State machine starting in initial state 'A',<br />
                Would you like to go down or left? <br />
           <button style="float:left;">LEFT</button>
           <button style="float:left;">DOWN</button>
     
           <br />
           <br />
           <br />
            
           <div class="output">
            State machine transitioning 'A':'1'-->'B' <br />
            State machine transitioning 'B':'1'-->'C' <br />
            State machine transitioning 'C':'1'-->'D' <br />
            State machine transitioning 'D':'1'-->'A' <br />
            State machine transitioning 'A':'1'-->'B' <br />
           </div>
        </section>
    </section>
        </div>
</main>
<footer>

   <p>🎹  con 🧡   por <a href="">Diana Hernández</a></p>

</footer>
</div>
</body>
</html>